<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FourOnTheFarm"
        tools:targetApi="31">
        <activity android:name="com.chameapps.fouronthefarm.activity.StartActivity"
            android:exported="true"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chameapps.fouronthefarm.activity.SplashActivity"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.chameapps.fouronthefarm.activity.GameActivity"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.chameapps.fouronthefarm.activity.AboutActivity"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.chameapps.fouronthefarm.activity.HelpActivity"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.chameapps.fouronthefarm.activity.ScoreActivity"
            android:label="@string/game_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
    </application>
</manifest>